/* .body{
    background-color: brown;
} */
.home{
    background-image: url("../images/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 650pt;
    font-size: 40px;
    color: white;
    text-align: center;
}
.about-us{
    text-align: center;
    font-size: 18px;
    font-family: 'Gothic A1, sans-serif';
}
h1{
    padding-top: 250px;
}
h2{
    color: turquoise;
    font-size: 14pt;
    font-family: 'Courgette',cursive;
}
h3{
    text-decoration: underline;
    text-align: center;

}
#order-pizza {
    padding: 20px 50px 20px 50px;
    font-family: 'Love Ya Like A Sister', cursive;
}
#order-pizza {
    color: #000;
}
.contacts {
    background-image: url("../image8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-overlay {
    height: inherit;
    background-color: rgba(0, 0, 0, 0.7);
}

input[type="email"] {
    background: transparent;
    border: 1px solid #ffffff;
    padding: .8em .7em;
    border-radius: 20px;
    outline: none !important;
    font-size: 14px;
}

.click-me {
    margin-top: 20px;
    margin-bottom: 20px;
}
.contact {
    padding-top: 20px;
    color: #000;
    font-family: 'Love Ya Like A Sister', cursive;
    margin-top: 30px;
}
/* h4{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    text-emphasis-color: red;
} */
.cdata {
    margin-top: 20px;
    margin-bottom: 15px;
}

.data {
    height: inherit;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

.go {
    border-radius: 20px;
}

.click-me, button[type=submit], .deliver, .delivernot {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
    background-color: #ffbf00;
    outline: none;
    padding: 12.5px 13px;
    border: none;
    border-radius: 33px;
    font-size: 14px;
}

.deliver, .delivernot {
    margin: 10px;
}

h4 {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

#order-pizza {
    padding: 20px 50px 20px 50px;
    font-family: 'Love Ya Like A Sister', cursive;
}

.order-overlay {
    height: inherit;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

.checkout {
    border-radius: 20px;
    margin-top: 20px;
}